@page "/end"
@page "/page10"
@using SafeGuard.Services
@inject NavigationManager Nav
@inject SafeGuard.Services.LayoutState LayoutState

<MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex justify-center" Style="height: 80vh;">
    <MudStack Spacing="2" AlignItems="AlignItems.Center" JustifyContent="Center" Style="margin-top: auto; margin-bottom: auto;">
        <div>
            <h2>Thank you very much for following processes in our Safeguarding Decision Tool.</h2>
            <h2>You may be contacted for further information by a member of the Safeguarding Board, a student advisor, a social worker, or the Police at a later date.</h2>
            <h2>It is all of our duty to look out for every member of the NCL, and the wider Lanarkshire Community.</h2>
        </div>

        <!-- Image Button under the text, centered in the content -->
        <MudButton OnClick="HomePage" Variant="Variant.Filled" Color="Color.Primary"
                   Style="background-image: url('/images/home.png'); background-size: contain; background-repeat: no-repeat; background-position: center; width: 120px; height: 120px; border-radius: 50%; font-size: 0px; padding: 0px; transition: transform 0.3s ease-in-out;">
        </MudButton>
    </MudStack>
</MudContainer>

@code {
    void HomePage()
    {
        LayoutState.UpdateProgress(100);
        Nav.NavigateTo("/");
    }
}
