<h3>Staff Member Action Required</h3>
<h2>1.Staff member contacts in-school contact</h2>
<h2>2. Notify Schools Development Manager (Arlene Byrne)</h2>
<h2>3. NCL Staff Member may be requested to complete Safeguarding Referral Form. (Click Here)-teams link</h2>
<MudButton OnClick="ToPage4School" Variant="Variant.Filled" Color="Color.Primary"
           Style="margin-top: 10px; width: 200px; font-size: 16px; transition: transform 0.3s ease-in-out;"
           Class="hover-scale">
    Arlene Byrne 
 click to Email
        Call: 7351
   
</MudButton>
<MudButton OnClick="ToPage4School" Variant="Variant.Filled" Color="Color.Primary"
           Style="margin-top: 10px; width: 200px; font-size: 16px; transition: transform 0.3s ease-in-out;"
           Class="hover-scale">
    Arrow Button
</MudButton>

@code {

}
