@page "/page6"
@using SafeGuard.Services
@inject NavigationManager Nav
@inject SafeGuard.Services.LayoutState LayoutState

<h1>Contact School Development Manager</h1>
<h3>School Development Manager will contact the School Child Protection Officer.</h3>

<!-- Safeguarding Referral Form Link -->
<p>
    *Staff Member may be requested to complete Safeguarding Referral Form
    <a href="https://forms.office.com/pages/responsepage.aspx?id=yvDmCG0KYke4rK9Lew6jYMvQ7G44kAdAuvdOW14pRdxUOUY1RzVVUUJETVU0VERGMDZTSlo1NUpMUCQlQCN0PWcu"
    target="_blank">
        (Click here)
    </a>
</p>

<!-- MudButton to Complete Process -->
<MudButton OnClick="() => CompleteProcess()" Variant="Variant.Filled" Color="Color.Primary"
Style="margin-top: 10px; width: 200px; font-size: 16px; transition: transform 0.3s ease-in-out;"
Class="hover-scale">
    END Of Process 
</MudButton>

@code {
    private void CompleteProcess()
    {
        // Open Microsoft Form
        NavigationManager.NavigateTo("https://forms.office.com/pages/responsepage.aspx?id=yvDmCG0KYke4rK9Lew6jYMvQ7G44kAdAuvdOW14pRdxUOUY1RzVVUUJETVU0VERGMDZTSlo1NUpMUCQlQCN0PWcu", true);

        // Send Email
        var email = "arlene.byrne@my.nlan.ac.uk";
        var subject = "Safeguarding Referral Submitted";
     

        var mailtoLink = $"mailto:{email}?subject={Uri.EscapeDataString(subject)}";

        NavigationManager.NavigateTo(mailtoLink, true);
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; }
}
