@page "/page6"
@using SafeGuard.Services
@inject NavigationManager Nav
@inject SafeGuard.Services.LayoutState LayoutState
<h3>Contact Schools Development Manager: </h3>

    <MudButton OnClick="ToPage4Suspicion" Variant="Variant.Filled"
               Class="animated-button blue-button">
    <h2>Arlene Byrne</h2>
    cLICK TO EMAIL
    7351

    </MudButton>
<h1>School Development Manager will contact the School Child Protection Officer.</h1>
*Staff Member may be requesrted to complete Safegurading Reffeeal Form (Click here)
<a href="https://forms.office.com/pages/responsepage.aspx?id=yvDmCG0KYke4rK9Lew6jYMvQ7G44kAdAuvdOW14pRdxUOUY1RzVVUUJETVU0VERGMDZTSlo1NUpMUCQlQCN0PWcu&route=shorturl"</href>


     <MudButton OnClick="ToPage4School" Variant="Variant.Filled" Color="Color.Primary"
                       Style="margin-top: 10px; width: 200px; font-size: 16px; transition: transform 0.3s ease-in-out;"
                       Class="hover-scale">
               END Of Procces arrow pic
            </MudButton>

@code {

}
page