@page "/page8"
@using SafeGuard.Services
@inject NavigationManager Nav
@inject SafeGuard.Services.LayoutState LayoutState
@inject CollectedAnswers Answer

<h3>Staff Member Action Reguired </h3>
<h2>If this is a time sensitive matter please contact an Academic Leader, Head of Department or another member of the Safeguarfing Team straight away for guidance.</h2>
<h2>(Click here(link) for Safeguarding Team Contact Information)</h2>

<br />
<h2>1. Inform teh most appropriate Academic leader of Head of Department about the situation.</h2>
<h2>2. If it is deemed a potential safeguarding situation, please complete the following Safeguarding Disclosure Form, or by clicking or scanning QR CODE Below.(link forms)</h2>
<h2>3. You may be contacted by your Academic Leader/ Head of Department or a member of the Safeguarding Team to discuss this refferal.</h2>

@*left button*@
<MudButton OnClick="@(() => ToPageEnd("concernsAllayed"))" Variant="Variant.Filled" FullWidth="true" Color="Color.Primary">Select</MudButton>
@*right button*@
<MudButton OnClick="@(() => ToPage9("ongoingMonitoring"))" Variant="Variant.Filled" FullWidth="true" Color="Color.Primary">Select</MudButton>

@code {
    void ToPageEnd(String answer)
    {
        Answer.Answer6 = answer;
        LayoutState.UpdateProgress(100);

    Nav.NavigateTo("/page10");
    }
        void ToPage9(String answer)
        {
        Answer.Answer6 = answer;
            LayoutState.UpdateProgress(86);

            Nav.NavigateTo("/page9");
        }
   
    
}
