@page "/page7"

@using SafeGuard.Services

@inject NavigationManager Nav

@inject SafeGuard.Services.LayoutState LayoutState
<h1>STAFF MEMBER ACTION REQUIRED</h1>

<h2>1.Staff member contacts in-school contact</h2>
<h2>2. Notify Schools Development Manager (Arlene Byrne)</h2>
<h2>3. NCL Staff Member may be requested to complete Safeguarding Referral Form. (Click Here)-teams link</h2>
<MudButton OnClick="CompleteProcess" Variant="Variant.Filled" Color="Color.Primary"
           Style="margin-top: 10px; width: 200px; font-size: 16px; transition: transform 0.3s ease-in-out;"
           Class="hover-scale">

    Arlene Byrne

    click to Email

    Call: 7351

</MudButton>
<MudButton OnClick="ToPageEnd" Variant="Variant.Filled" Color="Color.Primary"
           Style="margin-top: 10px; width: 200px; font-size: 16px; transition: transform 0.3s ease-in-out;"
           Class="hover-scale">

    Arrow Button
</MudButton>

@code {

        private void CompleteProcess()
        {

            // Send Email
            var email = "arlene.byrne@my.nlan.ac.uk";
            var subject = "Safeguarding Referral Submitted";


            var mailtoLink = $"mailto:{email}?subject={Uri.EscapeDataString(subject)}";

            Nav.NavigateTo(mailtoLink, true);
        }


    void ToPageEnd()

    {

        LayoutState.UpdateProgress(100);

        Nav.NavigateTo("/page10");

    }
    }
