<h3>Staff Member Action Reguired </h3>
<h2>If this is a time sensitive matter please contact an Academic Leader, Head of Department or another member of the Safeguarfing Team straight away for guidance.</h2>
<h2>(Click here(link) for Safeguarding Team Contact Information)</h2>

<br />
<h2>1. Inform teh most appropriate Academic leader of Head of Department about the situation.</h2>
<h2>2. If it is deemed a potential safeguarding situation, please complete the following Safeguarding Disclosure Form, or by clicking or scanning QR CODE Below.(link forms)</h2>
<h2>3. You may be contacted by your Academic Leader/ Head of Department or a member of the Safeguarding Team to discuss this refferal.</h2>

@*left button*@
<MudButton OnClick="ToPage4School" Variant="Variant.Filled" Color="Color.Primary"
           Style="margin-top: 10px; width: 200px; font-size: 16px; transition: transform 0.3s ease-in-out;"
           Class="hover-scale">
    Concerns Allayed
</MudButton>
@*right button*@
<MudButton OnClick="ToPage4School" Variant="Variant.Filled" Color="Color.Primary"
           Style="margin-top: 10px; width: 200px; font-size: 16px; transition: transform 0.3s ease-in-out;"
           Class="hover-scale">
   Ongoing Monitoring
</MudButton>
@code {

}
