<h3>After being referred to Safeguarding Board/Executive Board</h3>

<MudItem xs="6" sm="6" md="6" class="d-flex justify-content-center align-items-center">
    <MudPaper Class="mud-theme-primary d-flex justify-content-center align-items-center" Width="256px" Height="128px">
        <MudButton OnClick="ToPage4School" Color="Color.Primary" Style="color: white; background-color: #007bff;">
            Further Conerns at a later date - Contact Safeguarding Board/Safeguarding Team
        </MudButton>
    </MudPaper>
</MudItem>

<MudItem xs="6" sm="6" md="6" class="d-flex justify-content-center align-items-center">
    <MudPaper Class="mud-theme-primary d-flex justify-content-center align-items-center" Width="256px" Height="128px">
        <MudButton OnClick="ToPage4NCL" Color="Color.Primary" Style="color: white; background-color: #007bff;">
            Completetion of AP 1 Form (For Adults) - to be sent to Social Work
        </MudButton>
    </MudPaper>
</MudItem>

@code {

}
